# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# #registry=https://npm.pkg.github.com/mafunk
# registry=https://registry.npmjs.org
# @mafunk:registery=https://npm.pkg.github.com/mafunk

# #registry=https://registry.npmjs.org